Welcome <%= current_user.email %>! 
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<%= link_to "Accounts", accounts_path %>

<div class="row-fluid">
	<div class="span2" id="left-column">
		<div class="nav nav-tabs nav-stacked">
			<%= render :template => 'feeds/index' %>
		</div>
	</div>
	<div class="span6" id="middle-column">
		<%= render :template => 'feeds/show', :feed_id => @feed_id %>
	</div>
	<div class="span2" id="right-column">
		<p>Hello</p>
	</div>
</div>

